<!-- TODO:
    - stick to top of page when scrolling down
    - include profile pic in center
    -- but only when at the top of the page - smoothly fade it out when scrolling starts
    - Bonus: shrink nav height when scrolling (or if not, keep skinny throughout)
-->
<!--
when at top:         navbar navbar-default navbar-fixed-top navbar-custom
when scrolling down: navbar navbar-default navbar-fixed-top navbar-custom top-nav-short

found the JS that does this:

    // Shorten the navbar after scrolling a little bit down
    $(window).scroll(function() {
        if ($(".navbar").offset().top > 50) {
            $(".navbar").addClass("top-nav-short");
        } else {
            $(".navbar").removeClass("top-nav-short");
        }
    });

        // On mobile, hide the avatar when expanding the navbar menu
    $('#main-navbar').on('show.bs.collapse', function () {
      $(".navbar").addClass("top-nav-expanded");
    });
    $('#main-navbar').on('hidden.bs.collapse', function () {
      $(".navbar").removeClass("top-nav-expanded");
    });

    the rest of the custom JS is around nested nav opts and scrolling giant images, both of which I don't think I'll do in the near future...

To do it in Ng: https://stackoverflow.com/questions/54453096/how-to-add-class-on-scroll-in-angular

import { Component, HostListener, Inject } from '@angular/core';
import { DOCUMENT } from '@angular/common';

@Component({
  selector: 'my-app',
  templateUrl: './app.component.html',
  styleUrls: ['./app.component.css']
})
export class AppComponent {

  constructor(@Inject(DOCUMENT) private document: Document) { }

  @HostListener('window:scroll', [])
  onWindowScroll() {
    if (document.body.scrollTop > 20 ||     
    document.documentElement.scrollTop > 20) {
      document.getElementById('subTitle').classList.add('red');
      document.getElementById('paragraph').classList.add('green');
    }
  }
  name = 'Angular';
}

example: https://stackblitz.com/edit/angular-changeclassonscroll-rzuge9

-->
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{url}}">{{title}}</a>
        </div>
        <app-nav></app-nav>
    </div>
    <app-avatar></app-avatar>
</nav>
