<!-- TODO:
    - stick to top of page when scrolling down (for some reason position: fixed brings the navbar to the left...)
    - need to change to "hanburger" icon when in mobile/small screen
-->
<nav id="navbar" class="navbar navbar-expand-lg navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{url}}">{{title}}</a>
        </div>
        <app-nav></app-nav>
    </div>
    <app-avatar></app-avatar>
</nav>
<div class="buffer"></div>
