<app-page-heading [title]="title" [subtitle]="subtitle" [bigImg]="bigImg"></app-page-heading>
<div class="container">
    <div class="row">
        <div *ngIf="wideLayout; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <router-outlet></router-outlet>
        </ng-template>
        <ng-template #elseBlock>
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <router-outlet></router-outlet>
            </div>
        </ng-template>
    </div>
</div>
