<app-markdown [data]="data"></app-markdown> 
<div *ngFor="let soundcloudTrack of soundCloudTracks"> 
    <hr>
    <h3>{{soundcloudTrack.title}}</h3>
    <blockquote>{{soundcloudTrack.year}}</blockquote>
    <p [innerHTML]="soundcloudTrack.description"></p>
    <div [innerHTML]="soundcloudTrack.embedHTML | safeHtml"></div>
</div>
<!--TODO: Composition Page Items:
    - see if I can figure out the SoundCloud API
    - look into how I'd want to self-publish/sell my original works (Sheet Music Plus? Score Exchange?)
-->