
<!-- TODO: About Page Items:
    - write up a bio.  consider professional development vs music persona, etc.
    - Currently this sub nav only highlights the current selection on focus - ideally we'd do the same thing with nav-link.active
-->
<ul ngbNav #nav="ngbNav" class="pager list-inline">
    <li ngbNavItem>
        <a ngbNavLink>Developer</a>
        <ng-template ngbNavContent>
            <!--We're using data instead of fileName here to ensure the file is loaded before rendering the component for the first time, 
                or else you get a flicker of the footer and scroll bar jumping around the page. 
            
                If we ever decide to want to navigate to the other nav tiems from other pages we may need to revisit how we do this.
            
                NOTE: this sometimes happens anyway when clicking the other two buttons while on the page.  To eliminate this completely,
                we'd need to update the route module and markdownResolver to support an array of files instead of a single one.
                Or, you know, dump MD and stick with HTML.
            -->
            <app-markdown [data]="data"></app-markdown> 
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Composer</a>
        <ng-template ngbNavContent>
            <app-markdown [fileName]="composerFileName"></app-markdown>
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Accordionist</a>
        <ng-template ngbNavContent>
            <app-markdown [fileName]="accordionistFileName"></app-markdown>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav"></div>

