<app-page-heading [title]="title"></app-page-heading>
<!--TODO: figure out best way to make this page boilerplate into a reusable component-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">

            <app-markdown [data]="data"></app-markdown>

        </div>
    </div>
</div>
<!-- TODO: decide if I want a projects landing page, or if we should nix this in favor of a nav dropdown
     -- update: nav dropdowns are messy (and not mobile friendly) - I'd like to avoid them if possible.
-->
