a {
    color: rgb(64, 64, 64);
}
a:hover,
a:focus {
  color: #0085a1;
}
.list-inline>li {
    display: inline-block;
    padding-right: 10px;
}

.pager>li {
    margin: 1em 0.5em;
}

.pager>li>a {
    border: 1px solid #ddd;
}