<!-- static markdown -->
<!-- <markdown ngPreserveWhitespaces>
    # Markdown
</markdown> -->
  
  <!-- loaded from remote url 
  It looks like a limitation of ngx-markdown is that, when grabbing from src url, 
  you can only specify language syntax for the entire file (implicitly by changing the file extension),
  or you don't get it at all.  This might make using this component a bit more arduous for coding project pages.
  See https://jfcere.github.io/ngx-markdown/bindings#remote-url for details.

  Though, maybe we can make a service to load an .md file, convert to string, then send as [data]?
  See https://stackoverflow.com/questions/38847512/reading-static-files-in-angular2-as-string for example
  -->
  <markdown [src]="'assets/markdown/test.md'"></markdown>
   <!-- (load)="onLoad($event)" (error)="onError($event)" -->
  
  <!-- variable binding -->
<markdown [data]="data" ></markdown>  
<!-- (ready)="onReady()" -->